@import 'src/assets/styles/pages/Homepage';
@import 'src/assets/styles/pages/CreateRoom';
@import 'src/assets/styles/pages/Room';
@import 'src/assets/styles/components/home/Button';
@import 'src/assets/styles/components/room/UserInRoom';
@import 'src/assets/styles/components/user/LoginRegisterModal';
@import 'src/assets/styles/components/home/InputText';
@import 'src/assets/styles/components/deck/Deck';
@import 'src/assets/styles/components/board/Board';
@import 'src/assets/styles/components/win/Classement';

body, html, #root, .App {
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
}

body {
  background-image: url('/../public/images/background.png');
}

.no-underline {
  text-decoration-line: none;
}