@import 'src/assets/styles/pages/Homepage';
@import 'src/assets/styles/pages/CreateRoom';
@import 'src/assets/styles/pages/Room';
@import 'src/assets/styles/components/home/Button';
@import 'src/assets/styles/components/room/UserInRoom';
@import 'src/assets/styles/components/user/LoginRegisterModal';
@import 'src/assets/styles/components/home/InputText';
@import 'src/assets/styles/components/deck/Deck';
@import 'src/assets/styles/components/board/Board';
@import 'src/assets/styles/components/win/Classement';

body, html, #root, .App {
  height:100%;
  width:100%;
  margin:0;
  position:absolute;
}

body {
  background-image: url('/../public/images/background.png');
}

.no-underline {
  text-decoration-line: none;
}

* {
  cursor:url('/../public/images/hand.png'),auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  p {
    font-family: 'Darumadrop One', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }
}